<ion-view title="About"  class="backhroundcolor">
 <ion-header-bar class="bar-positive">
      <h1 class="title">FAQ V9</h1>
    </ion-header-bar>

    <ion-content>
<span ng-repeat="group in groups">
<button class="accordion"  ng-click="toggleAccordian({{$index}})" id="accordionfaq{{$index}}">{{group.heading}}</button>
<span ng-repeat="detail in group.details">
<div class="panel"  id="panelfaq{{$parent.$index}}{{$index}}">
  <p>{{detail}}</p>
</div>
</span>

</span>

    </ion-content>
</ion-view>

