<ion-view title="Home"  class="backhroundcolor">
<ion-header-bar class="bar-positive">
      <h1 class="title">Home</h1>
    </ion-header-bar>
 <ion-content class="padding">
 <span class="whitecolor">
 
<span ng-if="myData.showDemo" >
	<video controls class="video_content" style="width:100%" poster="img/Video.png">
	    <source src="resources/video/demo.mp4" type='video/mp4' />
	</video>
</span>
<span ng-if="!myData.demoActionTaken">
<button class="button button-block button-balanced" ng-click="demoActionTaken();showDemo()" >Watch Demo</button>
<button class="button button-block button-balanced" ng-click="demoActionTaken();skipDemo()" >Skip</button>
</span>
<table>
	<tr>
		<td><B>Send periodic location updates&nbsp;&nbsp;</B></td>
		<td>
			<div class="onoffswitch" >
			    <input type="checkbox" name="onoffswitchApp" class="onoffswitch-checkbox" id="onoffswitchApp" ng-model="myData.periodicAlerts" ng-change="periodicCheckBoxClicked()">
			    <label class="onoffswitch-label" for="onoffswitchApp">
			        <span class="onoffswitch-inner"></span>
			        <span class="onoffswitch-switch"></span>
			    </label>
			</div> 
		</td>
		
	</tr>
</table>

<center> 

<img src="img/Help.png" height="280px" width="280px" ng-click="toggleRedAlert()" ng-if="!myData.redAlert"  />
<div ng-if="myData.redAlert">
Your contacts are being informed that you need help.
<img src="img/ok.png" height="250px" width="250px" ng-click="toggleRedAlert()"  />
</div>
</center>
<button class="button button-block button-balanced" ng-click="reachedSafely()" >
  I reached safely, Only 1 update
</button><br/>
<center> <B> Please don't put app in bakground while app is in use</B></center> 
</span>
 </ion-content>
</ion-view>
