<ion-view title="NearMe" class="backhroundcolor" >
<ion-header-bar class="bar-positive">
      <h1 class="title">Near me</h1>
    </ion-header-bar>
 <ion-content class="padding">

 <div class="button-bar"  >
 <img src="img/police.png" style="width : 50% ; height : 100px;" ng-click="nearMe('police+station')" >
  <img src="img/Hospital.png" style="width : 50% ; height : 100px;" ng-click="nearMe('hospital')" >
</div>
<br/><br/>
<div class="button-bar">
 <img src="img/atm.jpg" style="width : 50% ; height : 100px;" ng-click="nearMe('atm')" >
  <img src="img/hotel.jpg" style="width : 50% ; height : 100px;" ng-click="nearMe('restaurants')" >
</div>
  </ion-content>
</ion-view>