<ion-view title="SavedLocations"  class="backhroundcolor">
<ion-header-bar class="bar-positive">
      <h1 class="title">Saved Locations</h1>
    </ion-header-bar>
 <ion-content class="padding">
<label class="toggle">
   <input type="checkbox" ng-model="mydata.mapType">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
<span ng-if="mydata.mapType" class="whitecolor">Show location using Google maps</span>
<span ng-if="!mydata.mapType" class="whitecolor">Show location using map my India</span>
<br/>
<br/>
<!-- 
<label class="toggle">
   <input type="checkbox" ng-model="mydata.autoAlertOnGeoFencing">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
<span ng-if="mydata.autoAlertOnGeoFencing">Alert when I pass below locations</span>
<span ng-if="!mydata.autoAlertOnGeoFencing">Donot alert when I pass below locations</span>
<br/>
<br/>
 -->
<span class="whitecolor">Safe zone around these locations {{mydata.safeDistance}} in meters (Geo fencing)</span>
<div class="item range">

  <i class="icon ion-android-walk"></i>
  <input type="range" name="volume" min="200"  max="500" ng-model="mydata.safeDistance" ng-change="updateSafeDistance()">
  <i class="ion-android-bicycle"></i>
</div>
  <label class="item item-input">
    <input type="text" placeholder="Name this location"  ng-model="mydata.locationName" ng-change="saveYourDetails()">
  </label>
  
 
<button class="button button-block button-positive" ng-model="mydata.email" ng-click="addThisLocation()">
  Save this Location!
</button>
<span class="whitecolor"> Click on a location to view that on map. Swipe left to delete a location.</span>

<span ng-repeat="location in mydata.myLocations" >
<div class="panel show" id="panel{{$index}}">

<div  class="card" ng-click="openLocation({{$index}})" on-swipe-left="deleteLocation({{$index}})">
  <div class="item item-text-wrap">
   {{$index +1}} {{location.name}}	
  </div>
</div>
  
</div>
</span>
 </ion-content>
</ion-view>