<ion-view title="NFC" cache-view="false"  class="backhroundcolor">
<ion-content class="padding">
 <span class="whitecolor">
 <span ng-click="record()"> Navigate to &nbsp;&nbsp;<i class="ion-android-microphone"></i></span><br/>
 <span ng-if="mydata.nfcAvailable">
 <b>
 
NFC tag can launch SOS app
Even take you to a page of your choice.
  </b>
  <hr/>
 <label class="toggle">
   <input type="checkbox" ng-model="mydata.modeOfNFC" ng-change="changeOfNFCMode()">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
<b>
<span ng-if="!mydata.modeOfNFC" >It is NFC read mode</span>
<span ng-if="mydata.modeOfNFC" >It is NFC write mode</span>
</b>
<br/><br/>
 <!-- Tag ID : {{mydata.currentTag.tagID}}<br/> -->
<span ng-if="!mydata.modeOfNFC" > <b>Tag Action </b> : Move to {{mydata.currentTag.tagAction.name}} page</span>
 
 <hr/>
 
 <span ng-if="mydata.modeOfNFC">
 
 <b>Steps to Configure Action on NFC tag</b> <br/><br/>
	 <span ng-if="!mydata.currentTag"> Step 1. Please tap your phone to NFC card that you want to write</span>
	 <span ng-if="mydata.currentTag">Step 2. Please select an action from below
	<select  class="selectBox " ng-model="mydata.ActionForNewTag" ng-options="item  as item.name for item in mydata.listOfStates track by item.state"  style="width:150px;" ng-change="defineActionForTag()" >
	 </select>
	 </span>
 </span>
</span>
</span>
  </ion-content>
</ion-view>