<ion-view title="NFC" cache-view="false"  class="backhroundcolor">
<ion-header-bar class="bar-positive">
      <h1 class="title">Configure Action on NFC tag</h1>
    </ion-header-bar>
 <ion-content class="padding">
 <span class="whitecolor">
 <label class="toggle">
   <input type="checkbox" ng-model="mydata.modeOfNFC" ng-change="changeOfNFCMode()">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
<b>
<span ng-if="!mydata.modeOfNFC" >Read data from NFC tag</span>
<span ng-if="mydata.modeOfNFC" >Write data to NFC tag</span>
</b>
<br/><br/>
 <!-- Tag ID : {{mydata.currentTag.tagID}}<br/> -->
<span ng-if="!mydata.modeOfNFC" > <b>Tag Action </b> : Move to {{mydata.currentTag.tagAction.name}} page</span>
 

 
 <span ng-if="mydata.modeOfNFC">
 
 <b>Steps to Configure Action on NFC tag</b> <br/><br/>
	 <span ng-if="!mydata.currentTag"> Step 1. Please tap your phone to NFC card </span>
	 <span ng-if="mydata.currentTag">Step 2. Please select an action
	<select  class="selectBox " ng-model="mydata.ActionForNewTag" ng-options="item  as item.name for item in mydata.listOfStates track by item.state"  style="width:150px;" ng-change="defineActionForTag()" >
	 </select>
	 </span>
 </span>
</span>
  </ion-content>
</ion-view>